*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: Montserrat;
}

.container{
    max-width: 515px;
    margin: 0 auto;
}

.header{
    color:#FFFFFF;
    background-color: #E25544;
    min-height: 214px;
    padding: 32px 0 24px;
}

.header .title{
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-family: Montserrat;
    margin-bottom: 10px;
    display: block;
}

.header .subtitle{
    font-size: 12px;
    font-weight: 200;
    font-family: Montserrat;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.header .description{
    font-size: 10px;
    line-height: 1.5;
    font-weight: 400;
    font-family: Montserrat;

}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__info{
    max-width: 351px;
}

.header__photo{
    display: flex;
}

.header__photo img{
    width: 114px;
    height: 114px;
    border-radius: 50%;
}

.contacts ul{
    display: flex;
    justify-content: space-between;
    min-height: 65px;
    align-items: center;
    border-bottom: 1px solid #DEE2ED;
}

.contacts a{
    font-size: 10px;
    color: #485268;
    text-decoration: none;
}